<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="articleTableFragment">
  <div class="d-flex align-items-center mb-3">
    <input type="text" class="form-control me-2" id="articleSearch" placeholder="根据文章标题搜索">
    <button class="btn btn-primary" onclick="searchContent('article')">搜索</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>标题</th>
      <th>分类</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
      <td th:text="${article.id}"></td>
      <td th:text="${article.title}"></td>
      <td th:text="${article.category}"></td>
      <td>
        <a th:href="@{/admin/article/delete(id=${article.id})}" class="text-danger"
           onclick="return confirm('确定删除？')">删除</a>
        <a th:href="@{/admin/article/edit/{id}(id=${article.id})}" class="text-warning ms-2">修改</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>